@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
.section {
    align-items: center;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 100vh;
    position: sticky;
    position: -webkit-sticky;
    width: 100%;
    z-index: -1;
    overflow: hidden;
    background-color: transparent;
}
  
.section:nth-child(1) {
    background-image: url('/images/stories.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
  
.section:nth-child(2) {
    background-image: url('/images/about.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -2;
}

.section:nth-child(3) {
    background-image: url('/images/works.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -3;
}

.section:last-child {
    background-image: url('/images/contactus.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -4;
}

.overlay {
  width: 100%;
  display: flex;
  align-items: flex-end;
}


/* 
Loader styles
*/


#loader {  
    border: 3px solid transparent;  
    border-top-color: #3498db;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;

    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;

    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0%   { 
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   { 
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

    
    /* JavaScript Turned Off */
    .no-js #loader-wrapper {
        display: none;
    }
    .no-js h1 {
        color: #222222;
    }

    .underlined::after {
        content: '';
        display: block;
        width: 47px;
        height: 5px;
        background: #ff635a;
        margin: 12px 0 0;
        border-radius: 2px;
    }

    .skillcontent {
        display: none;
    }
        
    .skillbar:hover .skillcontent {
        display: block;
    }

    .bg-parent-overlay {
        background-color: #1B98EF;
    }

    .article-overlay {
        background: transparent linear-gradient(180deg, #456AC800 0%, #456AC886 39%, #456AC8 100%) 0% 0% no-repeat padding-box;
    }
        
   .checked::after {
        content: "";
        position: absolute;
        width: 59%;
        height: 2px;
        bottom: 2.5px;
        right: 0;
        background: -webkit-gradient(linear, left top, right top, color-stop(0, #eeeeee), color-stop(35%, #bababa), color-stop(65%, #999), to(#212121));
        background: -webkit-linear-gradient(left, #eeeeee 0, #bababa 35%, #999 65%, #212121 100%);
        background: -o-linear-gradient(left, #eeeeee 0, #bababa 35%, #999 65%, #212121 100%);
        background: linear-gradient(to left, #ee6400 0, #ec6701 35%, #623510 65%, #0000 100%);
   }

   @variants dark {
      .arrow-dark::before {
        background: #312e81;
      }

      .arrow-light::before {
        background:#111827;
      }
    }
}

  .popper[data-show] {
    display: block;
  }

    .arrow,
    .arrow::before {
        position: absolute;
        width: 8px;
        height: 8px;
        z-index: -1;
    }

  .arrow::before {
    content: '';
    transform: rotate(45deg);
  }

  .popper[data-popper-placement^='top'] > .arrow {
    bottom: -4px;
  }

  .popper[data-popper-placement^='bottom'] > .arrow {
    top: -4px;
  }

  .popper[data-popper-placement^='left'] > .arrow {
    right: -4px;
  }

  .popper[data-popper-placement^='right'] > .arrow {
    left: -4px;
  }